<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
	<!-- Sidebar Menu -->
	<ul class="sidebar-menu" data-widget="tree">
		<!-- <li class="header"></li> -->
		<li><a href="/"><i class="fa fa-folder"></i><span>Dashboard</span></a></li>
		<li class="treeview"><a href="#"><i class="fa fa-user" aria-hidden="true"></i>
				<span>Customers</span> <span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
			</span> </a>
			<ul class="treeview-menu">
				<li><a href="/customers"><i class="fa fa-list"></i>
						List Customers</a></li>
				<li><a href="/customers/add"><i class="fa fa-plus"></i>
						Add Customer</a></li>
			</ul></li>

			
			<li class="treeview"><a href="#"> <i class="fa fa-home" aria-hidden="true"></i>
				<span>Halls</span> <span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
			</span> </a>
			<ul class="treeview-menu">
				<li><a href="/salle"><i class="fa fa-list"></i>
						List halls</a></li>
				<li><a href="/salle/add"><i class="fa fa-plus"></i>
						Add hall</a></li>
			</ul></li>
			<li class="treeview"><a href="#"><i class="fa fa-globe" aria-hidden="true"></i>
				<span>Nationalities</span> <span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
			</span> </a>
			<ul class="treeview-menu">
				<li><a href="/nationalite"><i class="fa fa-list"></i>
						List Nationalities</a></li>
				<li><a href="/nationalite/add"><i class="fa fa-plus"></i>
						Add Nationality</a></li>
			</ul></li>
			<li class="treeview"><a href="#"><i class="fa fa-child" aria-hidden="true"></i>
				<span>Genders</span> <span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
			</span> </a>
			<ul class="treeview-menu">
				<li><a href="/genre"><i class="fa fa-list"></i>
						List Gender</a></li>
				<li><a href="/genre/add"><i class="fa fa-plus"></i>
						Add Gender</a></li>
			</ul></li>
			
			<li class="treeview"><a href="#"><i class="fa fa-user"></i>
				<span>	Actors/Directors</span> <span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
			</span> </a>
			<ul class="treeview-menu">
				<li><a href="/personne"><i class="fa fa-user"></i>
						List Actors/Directors</a></li>
				<li><a href="/personne/add"><i class="fa fa-plus"></i>
						Add Actors/Directors</a></li>
			</ul></li>
			
			<li class="treeview"><a href="#"><i class="fa fa-film" aria-hidden="true"></i>
				<span>Films</span> <span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
			</span> </a>
			<ul class="treeview-menu">
				<li><a href="/film"><i class="fa fa-list"></i>
						List Films</a></li>
				<li><a href="/film/add"><i class="fa fa-plus"></i>
						Add Film</a></li>
			</ul></li>
			
			<li class="treeview"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>
				<span>Show Times</span> <span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
			</span> </a>
			<ul class="treeview-menu">
				<li><a href="/seance"><i class="fa fa-list"></i>
						List Show Times</a></li>
				<li><a href="/seance/add"><i class="fa fa-plus"></i>
						Add Show Time</a></li>
			</ul></li>
			<li class="nav-item"><a href="/contact"><i class="fa fa-mobile" aria-hidden="true"></i>
				<span>Contact</span> <span class="pull-right-container">
			</span> </a></li>
				
			<li class="nav-item"><a href="/about"><i class="fa fa-info-circle" aria-hidden="true"></i>
				<span>About</span> <span class="pull-right-container">
			</span> </a></li>
				
	</ul>

			
			
			
	

	<!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
