<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
	<!-- Sidebar Menu -->
	<ul class="sidebar-menu" data-widget="tree">
		<!-- <li class="header"></li> -->
		<li><a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
		<li class="treeview"><a href="#"><i class="fa fa-folder"></i>
				<span>Registration</span> <span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
			</span> </a>
			<ul class="treeview-menu">
				<li><a href="/customers"><i class="fa fa-circle-o"></i>
						List Customers</a></li>
				<li><a href="/customers/add"><i class="fa fa-circle-o"></i>
						Add Customers</a></li>
			</ul></li>

			
			<li class="treeview"><a href="#"><i class="fa fa-folder"></i>
				<span>Salles</span> <span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
			</span> </a>
			<ul class="treeview-menu">
				<li><a href="/salle"><i class="fa fa-circle-o"></i>
						List Salles</a></li>
				<li><a href="/salle/add"><i class="fa fa-circle-o"></i>
						Add salle</a></li>
			</ul></li>
			<li class="treeview"><a href="#"><i class="fa fa-folder"></i>
				<span>Nationalités</span> <span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
			</span> </a>
			<ul class="treeview-menu">
				<li><a href="/nationalite"><i class="fa fa-circle-o"></i>
						List Nationalités</a></li>
				<li><a href="/nationalite/add"><i class="fa fa-circle-o"></i>
						Add Nationalité</a></li>
			</ul></li>
			<li class="treeview"><a href="#"><i class="fa fa-folder"></i>
				<span>Genres</span> <span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
			</span> </a>
			<ul class="treeview-menu">
				<li><a href="/genre"><i class="fa fa-circle-o"></i>
						List Genres</a></li>
				<li><a href="/genre/add"><i class="fa fa-circle-o"></i>
						Add Genre</a></li>
			</ul></li>
			
			<li class="treeview"><a href="#"><i class="fa fa-folder"></i>
				<span>Personnes</span> <span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
			</span> </a>
			<ul class="treeview-menu">
				<li><a href="/personne"><i class="fa fa-circle-o"></i>
						List Personnes</a></li>
				<li><a href="/personne/add"><i class="fa fa-circle-o"></i>
						Add Personne</a></li>
			</ul></li>
			
			<li class="treeview"><a href="#"><i class="fa fa-folder"></i>
				<span>Films</span> <span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
			</span> </a>
			<ul class="treeview-menu">
				<li><a href="/film"><i class="fa fa-circle-o"></i>
						List Films</a></li>
				<li><a href="/film/add"><i class="fa fa-circle-o"></i>
						Add Film</a></li>
			</ul></li>
	</ul>

			
			
			
	

	<!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
